.animation {
    animation: jumping 0.5s infinite ease-in-out;
}

@keyframes jumping {
    0% {margin-top: 0;}
    50% {margin-top: -10px;
        transform: scale(1.1,1.1)}
}

.ball{
    width: 35px;
    height: 35px;
    z-index: 100;
    position: relative;
}

.red {
    background: url(../image/red.gif);
    cursor: pointer;
    background-size: cover;
}

.blue {
    background: url(../image/blue.gif);
    cursor: pointer;
    background-size: cover;
}

.dark {
    background: url(../image/dark.gif);
    cursor: pointer;
    background-size: cover;
}

.dark_blue {
    background: url(../image/dark_blue.gif);
    cursor: pointer;
    background-size: cover;
}

.green {
    background: url(../image/green.gif);
    cursor: pointer;
    background-size: cover;
}

.pink {
    background: url(../image/pink.gif);
    cursor: pointer;
    background-size: cover;
}

.yellow {
    background: url(../image/yellow.gif);
    cursor: pointer;
    background-size: cover;
}