.button_container {
    margin: 0 auto;
    width: 100%;
}

.buttons{
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    height: 40px;
}

.button_new img {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
}

.button_sett img {
    width: 40px;
    height: 30px;
    cursor: pointer;
    padding-right: 10px;
}

.new_game_button_container {
    width: 50%;
    float: left;
}

.button_set_container {
    width: 50%;
    text-align: right;
    height: 30px;
    overflow: hidden;
}

.background_window {
    background-color: rgba(116, 115, 96, 0.71);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.text {
    overflow: hidden;
}

@font-face {
    font-family: Pacifico;
    src: url(https://fonts.googleapis.com/css?family=Pacifico);
}

.form {
    border: 5px solid aquamarine;
    border-radius: 25px;
    width: 220px;
    height: 220px;
    margin-top: 20%;
    margin-left: 30%;
    background-color: white;
    font-family: 'Pacifico', cursive;
}

.settings {
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px 10px 0 0;
}

.radio_area {
    width: 40%;
    float: left;
    padding-left: 20px;
}

.last_element{
    float: none;
    margin: 0 auto;
}

.checkbox_area {
    font-size: 12px;
    padding: 15px 0 25px 10px;
}

.confirm_button {
    width: 30px;
    height: 30px;
    padding-left: 50%;
}

.confirm_button_area{
    width: 50%;
    float: left;
}

.test {
   padding-left: 15px;
}

.cancel_button_area{
    width: 50%;
    height: 37px;
    overflow: hidden;
}

.cancel_button_area img {
    width: 30px;
    height: 30px;
}

.cancel_button{
    padding-left: 20px;
}

.next_balls_area {
    width: 140px;
}

#next_ball_area td{
    width: 35px;
    height: 35px;
}


.field9x9 {
    width: 350px;
    height: 410px;
}

.field7x7 {
    width: 270px;
    height: 340px;
}

.field11x11 {
    width: 420px;
    height: 500px;
}

.hidden {
    display: none;
}