.button_container {
    margin: 0 auto;
    width: 100%;
}

.buttons{
    margin: 0 auto;
    width: 205px;
}

.size_field {
    width: 100px;
    border-radius: 5px;
}

.background_window {
    background-color: #747360;
    position: fixed;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
}
#settings_table {
    width: 200px;
    height: 200px;
    border: 8px solid rgb(61, 55, 182);
    margin: 200px 200px;
    background-color: #fff0b2;
    opacity: 1;
    border-radius: 25px;
}

.settings_window{

}

p {
    overflow: hidden;
}

.name_window {
    background-color: rgb(61, 55, 182);
    height: 30px;
    border-radius: inherit;
}

.name_window_settings {
    font-size: 30px;
}

.change_size_settings {
    padding-top: 15px;
}
