body {
    background-color: aliceblue;
}
#game-area {
    margin: 20px 20px;
    background-color: white;
    padding: 20px 15px 20px 15px;
    border: 1px solid aqua;
    border-radius: 30px;
    float: left;
}

.field9x9 {
    width: 350px;
    min-height: 410px;
}

.field7x7 {
    width: 300px;
    min-height: 300px;
}

.field11x11 {
    width: 420px;
    min-height: 410px;
}

#game-area table {
    width: 100%;
}
td{
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #ccdbdb;
    border: 1px solid black;
}

 img{
     width: 30px;
     height: 30px;
     margin: 0;
 }

 #game-area table {
     border-collapse: collapse;
     padding: 20px 0 20px 20px;
 }

 #game-area table,
 #score-and-time td,
 #function td {
     border: none;
     background-color: white;
 }

 .score,
 .steps {
     width: 100px;
     text-align: left;
 }
 .time {
     width: 120px;
     text-align: left;
 }

#function {
    font-size: 12px;
}

.info {
    width: 170px;
    text-align: left;
}

